@import "../common/styles/global.css";
@import "../common/styles/header.css";

form {
  width: 25%;
  margin: auto; 
  margin-top: 4rem;
  padding: 2rem 0;

  background-color: var(--lighter-blue);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  border-radius: .5rem;
}

.input {
  width: 75%;
  background: #71767B;
  display: flex;
  align-items: center;
  border-radius: .75rem;
  padding-left: 1rem;
  gap: .5rem;
}

.input img {
  max-height: 1rem;
}

.input input {
  width: 100%;
  height: 100%;
  padding: 1rem 1rem;
  border-radius: .75rem;
  border: none;
  background: var(--light-gray);
  font-weight: 700;
}

form a:link, form a:visited {
  color: var(--darker-blue);
}

form button {
  width: 50%;
  padding: 1rem 1.5rem;
  background: var(--light-gray);
  border-radius: .75rem;

  font-weight: 800;
  font-size: 1rem;
  color: var(--lighter-blue);
}
