@import "../common/styles/global.css";
@import "../common/styles/post.css";
@import "../common/styles/header.css";

main {
  width: 50%;
  height: calc(100vh - 4rem);
  border-left: 1px solid var(--light-gray);
  border-right: 1px solid var(--light-gray);
  margin: 0 auto;
  padding-top: .5rem;
}

.container {
  background: var(--lighter-blue);
  width: 98%;
  margin: 0 auto;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
  padding: 1.25rem 1rem 0;
  position: relative;
}

/*---- actual comments and the post ----*/

.content {
  max-height: calc(100% - 9rem);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  width: 95%;
  border-radius: 0;
  border-bottom: 1px solid var(--light-gray);
  padding-left: .5rem;
  padding-right: .5rem;
}

/*---- create comment part ----*/

.createComment{
  height: 7rem;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  border-top: 1px solid white;
  position: absolute;
  bottom: 0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createComment button {
  color: var(--darker-blue);
  font-weight: bold;
  background-color: var(--light-gray);
  border-radius: .5rem;
  padding: .5rem 1rem;
}

.createComment button:hover {
  filter: brightness(.9)
}

/*--- Modal ---*/

.modalOverlay {
  min-width: 100vw;
  min-height: 100vh;

  position: fixed;
  top: 0;
  left:0;
  z-index: 99;

  display: none;
  visibility: hidden;

  /* display: flex; */
  /* align-items: center; */

  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  height: fit-content;
  width: 50vw;

  margin: auto;
  padding: 2rem;

  background: var(--darker-blue);

  border-radius: 1rem;
}

.modalOverlay.active {
  display: flex;
  visibility: visible;
}

.modalActions {
  width: fit-content;
  margin-left: auto;
  margin-top: 1rem;
}

.modalActions button {
  color: #000;
  font-weight: bold;
  font-size: 1.15rem;
}

.modalSubmitBtn {
  color: #FFF !important;
  margin-left: 1rem;
  background-color: var(--green);
  padding: 0.75rem;
  border-radius: 0.75rem;
}

/*--- Markdown Editor ---*/

.editor-toolbar {
  background-color: var(--lighter-blue) !important;
  border-radius: 1rem 1rem 0 0 !important;
  border: none !important;
  border-bottom: 1px solid white !important;
  opacity: 1 !important;
  color: white !important;
}

.CodeMirror {
  background-color: var(--lighter-blue) !important;
  border-radius: 0 0 1rem 1rem !important;
  border: none !important;
  height: 50vh !important;
  color: white !important;
}

.CodeMirror-cursor {
  border-left: 2px solid #fff !important;
}

.editor-statusbar {
  display: none;
  visibility: hidden;
}

.fa::before:hover {
  filter: brightness(0.8) !important;
}

.editor-toolbar.disabled-for-preview a:not(.no-disable) {
  background: rgba(0, 0, 0, 0.5) !important;
}

.editor-toolbar a:hover,
.editor-toolbar a.active {
  background: rgba(0, 0, 0, 0.3) !important;
}

.fa::before {
  color: white !important;
}

.editor-preview {
  background-color: var(--lighter-blue) !important;
}

.editor-preview p {
  text-align: center;
}

.editor-preview p img {
  width: 80% !important;
}
