@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lighter-blue: #222e50;
  --darker-blue: #111e3e;
  --green: #8bc34a;
  --light-gray: #d9d9d9;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--darker-blue);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

button,
a,
input {
  font-family: "Inter", sans-serif;
}
